header{
    background-color: blue;
    color: white;
}

.container{
    background-color: lightgrey;
    color: red;
}

.highlight{
    color: green;
}

.main-content{
    background-color: rgb(229, 229, 147);

}

.center{
    text-align: center;
}

.head{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.bold-text{
    font-weight:bold;
}

#intro{
    font-weight: 300;
}

*{
    font-family: Arial, sans-serif;
}

.custom-font{
    font-family: 'Times New Roman', serif;
}